compile_commands.json
package_README-gen.md
ui.qml

# toolchain directory
toolchain/
.toolchains/

# build output
build/
refloat/src/*.d
refloat/src/*.so
# compiled artifacts
*.bin
*.d
*.elf
*.list
*.o
*.obj
*.so
*.vescpkg

# ignore executables
*.exe
